node_modules/
.next/
.env
.env.local
.env.*.local
*.pyc
__pycache__/
.pytest_cache/
.venv/
venv/
dist/
build/
.DS_Store
.vercel/
.swp
.swo
*.swp
*.egg-info/
.idea/
.vscode/
*.log
.mypy_cache/
postgres_data/
